@mixin font ($s, $w) {
    font: {
        size: $s;
        weight: $w;
    }
}

.main {
    min-width: 100%;
    height: fit-content;
    background-color: $secundaryColor;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;

}

.conteiner-1{
    background-color: $others;
    min-width: 90%;
    height:30em;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text{
        @include font(5em, 100);
        margin-top:1em;
        color: $primaryColor;
    }
    .--parragraf{
        font-size: 1.5em;
        text-align: center;
        color: $primaryColor;
    }
}