body::-webkit-scrollbar{
    background-color: $secundaryColor;
    width: .5em;
}

body::-webkit-scrollbar-thumb{
    background-color: $thirdColor;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}